{% extends "layout.html" %} 

{% block title %}
  {{ BLOG_TITLE }}
{%endblock %}

{% block description %}
  {{ BLOG_DESCRIPTION }}
{%endblock %} 

{% block content %}
<header
  class="masthead"
  style="background-image: url('../static/assets/img/home-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Blog Boiler Pro</h1>
          <span class="subheading"
            >Ideas, Thoughts and Conclusions I'd like to share with you.</span
          >
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      {% if filter %}
      <div>
        <sup>
          <a href="{{ url_for('home') }}" title="{% trans %}Clear{% endtrans %}">&#x2718;</a> 
          {% trans trimmed nr_posts=all_posts|length %}
            Found {{ nr_posts }} post
          {% pluralize %}
            Found {{ nr_posts }} posts
          {% endtrans %}
          {% trans %}for{% endtrans %}
          {% for filter in filter %}
            {% if filter[0] %}
              {% if filter[0] == 'draft' and current_user.admin %}
                <span class="badge draft-badge">
              {% else %}
                <span class="badge default-badge">
              {% endif %}
              {{ filter[1] }}: {{ filter[0] }}</span>
            {% endif %}
          {% endfor %}
        </sup>
      </div>
      {% endif %}
      <!-- Post preview-->
      {% for post in all_posts %}
      <div class="post-preview">
        <a
          href="{{ url_for('show_post', post_title=post.title|lower|replace(' ', '-')) }}"
        >
          <h2 class="post-title">{{ post.title }}</h2>
          <h3 class="post-subtitle">{{ post.subtitle }}</h3>
        </a>
        <p class="post-meta">
          {% trans %}by{% endtrans %}
          <a
            href="{{ url_for('home', author=post.author.username, tag=request.args.get('tag'), year=request.args.get('year'))}}"
            >{{ post.author.username }}</a
          >
          {% trans %}on{% endtrans %}
          {% set year = post.create_date|datetimeformat('yyyy') %}
          <a href="{{ url_for('home', year=year.strip(), tag=request.args.get('tag'), author=request.args.get('author')) }}">
            {% trans trimmed post_publish_date=post.create_date|datetimeformat(DATE_FORMAT) %}
              {{ post_publish_date }}
            {% endtrans %}
          </a>
          {% if current_user.id == post.author.id or current_user.id == SUPER_ID %}
          <a
            href="{{ url_for('delete_post', post_title=post.title|lower|replace(' ', '-')) }}"
            title="{% trans %}Soft delete{% endtrans %}"
            >&#x2718;</a
          >
          {% endif %} {% if post.is_draft %}<a
            href="{{ url_for('home', tag='draft', year=request.args.get('year'), author=request.args.get('author'))}}"
            ><span class="badge draft-badge">{% trans %}draft{% endtrans %}</span></a
          >{% endif %} {% set tags_list = post.tags|from_json %} {% for tag in
          tags_list %}
          <a href="{{ url_for('home', tag=tag, year=request.args.get('year'), author=request.args.get('author'))}}"
            ><span class="badge default-badge">{{ tag }}</span></a
          >
          {% endfor %}
        </p>
      </div>
      <!-- Divider-->
      <hr class="my-4" />
      {% endfor %}

      <!-- Pager-->
      <div class="d-flex justify-content-end mb-4" style="gap: 10px">
        {% if page > 1 %}
        <a
          class="btn btn-secondary text-uppercase"
          href="{{ url_for('home', page=page - 1 ) }}"
          >{% trans %}Newer Posts{% endtrans %}</a
        >
        {% endif %} {% if page < max_page %}
        <a
          class="btn btn-secondary text-uppercase"
          href="{{ url_for('home', page=page + 1 ) }}"
          >{% trans %}Older Posts{% endtrans %}</a
        >
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
