{% extends "layout.html" %} 

{% block title %}
  {{ post.title }} &#124; Blog Boiler Pro
{% endblock %}

{% block description %}
  {{ post.title }} &#45; {{ post.subtitle }} &#45; by {{ post.author.username }}
{%endblock %} 

{% from "bootstrap5/form.html" import render_form %} 

{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('{{post.img_url}}')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h1>{{ post.title }}</h1>
          <h2 class="subheading">{{ post.subtitle }}</h2>
          <hr>
          <span class="meta">
            by 
            <a href="{{ url_for('show_author', author=post.author.username|lower|replace(' ', '-'))}}">{{ post.author.username }}</a>
            on {{ post.create_date|datetimeformat(DATE_FORMAT) }}
            {% if post.edit_date and DISPLAY_EDIT_DATE %} 
            &#124; edited on {{ post.edit_date|datetimeformat(DATE_FORMAT) }}
            {% endif %}
            {% if DISPLAY_READING_TIME %}
            &#124; 
              {% set reading_time = calculate_reading_time(post.body|safe) %}
              {{ reading_time }} minute{% if reading_time != 1 %}s{% endif %}
            {% endif %}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-toolbar">
          {% if current_user.id == post.author.id or current_user.id == SUPER_ID %}
          <div class="d-flex justify-content-end mb-4">
            <a
              class="btn btn-primary float-right"
              href="{{ url_for('edit_post', post_title=post.title|lower|replace(' ', '-')) }}"
              >Edit Post</a
            >
          </div>
          {% endif %}
        </div>
        {{ post.body|safe }} 
        <!-- Divider-->
        <hr class="my-4" id="comments"/>
        <!-- Comments Area -->
        {{ render_form(form) }}
        <div class="comment mb-5">
          <sup>&gt; <a href="https://github.com/timonrieger/blog-boiler-pro/blob/main/.github/demo/comments.png">How to comment</a></sup>
          <ul class="commentList">
            {% for comment in comments %}
            <li>
              <div class="commenterImage">
                {% if comment.author.id == ANONYMOUS_ID %}
                <!-- Use a random Gravatar-like URL for anonymous users -->
                <img
                  src="{{ anonymous_gravatar() | gravatar }}"
                  alt="Anonymous Gravatar"
                />
                {% else %}
                <!-- Use Gravatar URL for logged-in users -->
                <img src="{{ comment.author.email | gravatar }}" />
                {% endif %}
              </div>
              <div class="commentText">
                <span class="date sub-text"
                  >
                  {{ comment.author.username }}
                  {% if comment.author.admin %}&#10004;{% endif %}
                  &#124; {{ comment.create_date|datetimeformat(DATE_FORMAT_LONG) }} <em>{% if comment.edited %}(edited){% endif %}</em>
                  
                  {% if current_user.id != ANONYMOUS_ID and current_user.id == comment.author_id %}
                    &#124;
                    <a
                      href="{{url_for('show_post', post_title=post.title|lower|replace(' ', '-'), edit_comment=comment.id) }}"
                      title="Edit comment"
                      >&#9998;</a
                    >
                      {% if current_user.id == SUPER_ID %}
                        <a
                          href="{{url_for('delete_comment', post_title=post.title|lower|replace(' ', '-'), comment_id=comment.id) }}"
                          title="Soft Delete"
                          >&#x2718;</a
                        >
                      {% endif %}
                  {% endif %}
                </span>
                <p>{{ comment.text|safe }}</p>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</article>

{% if scroll_down %}
<script>
  window.onload = function () {
    window.location.hash = "comments";
  };
</script>
{% endif %}

{% endblock %}
